* {
    box-sizing: border-box;
    text-transform: lowercase;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

/* DISPLAY */
.screen {
    display: flex;
    height: 100vh;
}


/* DISPLAY LEFT */
.left--side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left--side img {
    max-width: 500px;
    height: auto;
}

/* DISPLAY RIGHT */
.right--side {
    width: 400px;
    background-color: lightslategrey;
    padding: 50px;
}

.right--side label {
    display: block;
    margin-bottom: 20px;
    color: white;
}

.right--side input {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    outline: 0px;
    margin: 5px;
    color: black;
}

.error {
    font-size: 11px;
    background-color: red;
    color: white;
    padding: 4px;
    border-radius: 5px;
}

.link a {
    padding: 8px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
}

div .link {
    color: white;
    margin: 10px;

}